Source: denios-themes
Section: utils
Priority: optional
Maintainer: Denis Maslo <denios-linux@proton.me>
Uploaders: Denis Maslo <denios-linux@proton.me>
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 10), gtk-update-icon-cache
Homepage: https://github.com/deniosm/denios-themes

Package: denios-themes
Architecture: all
Priority: optional
Depends: gtk3-engines-breeze, gtk2-engines
Description: Denios OS default themes.
 This package contains the default themes for Denios OS.

Package: denios-icon-theme
Architecture: all
Priority: optional
Replaces: mate-icon-theme
Provides: mate-icon-theme
Description: Icons for Denios OS
 This package contains the icons for Denios OS.

